<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>
    <div class="contenedor_rec2">
        <h3 class="titulo_rec1">Revisa tu bandeja de entrada</h3>
        <p class="texto_rec1">Hemos enviado un correo a [correo@ejemplo.com] con un enlace para restablecer tu contraseña.
            Si no lo encuentras, asegúrate de revisar la carpeta de spam o correo no deseado.
        <h3 class="titulo_rec2">¿No recibiste el correo?</h3>
        <p class="texto_rec2">Si no recibes el correo en unos minutos, puedes intentar enviarlo de nuevo o contactarnos para obtener ayuda
            a nuestro correo</p>
        <button class="btn_enviar2">Reenviar</button>
    </div>
</body>

</html>