/* Estilo para el cuerpo de la página */
body {
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado alrededor del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado dentro del cuerpo */
    display: flex;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Estilo para el contenedor principal */
.contenedor {
    border: 2px solid #ccc; /* Define el borde del contenedor */
    border-radius: 25px; /* Redondea los bordes del contenedor */
    width: 100%; /* ocupa el 100% del ancho */
    max-width: 400px; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio interior del contenedor */
    background-color: #f9f9f9; /* Color de fondo del contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    text-align: center; /* Centra el texto dentro del contenedor */
}

/* Estilo del título */
.titulo {
    margin-bottom: 20px; /* Margen inferior para separar del resto del contenido */
    font-size: 24px; /* Tamaño de la fuente del título */

}

/* Estilo del campo de entrada */
.input_login {
    margin-bottom: 15px; /* Espacio entre los campos de entrada */
}

.input_login input {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    padding: 10px;
    border: 1px solid #ddd; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados del campo de entrada */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo del botón */
.btn_iniciar {
    width: 100%; /* Ancho completo del contenedor */
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde predeterminado */
    border-radius: 5px; /* Bordes redondeados del botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cursor tipo puntero al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    margin-bottom: 15px; /* Espacio debajo del botón */
}

.btn_iniciar:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón sobre el botón */
}

/* Estilo del enlace de recuperación */
.link_recuperacion {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: inline-block; /* Comportamiento en línea para el enlace */
}

.link_recuperacion:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}

.contenedor_rec { 
    display: grid; /* Configura el contenedor como grid */
    grid-template-columns: 10% 80% 10%; /* Columna central más ancha */
    grid-template-rows: repeat(4, auto); /* Filas automáticas */
    grid-row-gap: 10px;
    border: 2px solid #ccc; /* Borde del contenedor */
    border-radius: 25px; /* Bordes redondeados */
    width: 100%;
    max-width: 300px; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio interior del contenedor */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
    text-align: center; /* Centra el texto dentro del contenedor */
}

/* Estilo para el título */
.titulo_rec {
    grid-column: 2; /* Columna central */
    grid-row: 1; /* Primera fila */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    font-size: 24px; /* Tamaño de la fuente */
}


/* Estilo para el texto */
.texto_rec {
    grid-column: 2; /* Ocupa la segunda columna (columna central) */
    grid-row: 2; /* Ocupa la segunda fila */
}

/* Estilo para el campo de entrada */
.input_rec {
    grid-column: 2; /* Ocupa la segunda columna (columna central) */
    grid-row: 3; /* Ocupa la tercera fila */
    width: 100%; /* Ancho completo del contenedor */
    padding: 10px; /* Espacio interior del campo de entrada */
    border: 1px solid #ddd; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados del campo de entrada */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo para el botón */
.btn_enviar {
    grid-column: 2; /* Ocupa la segunda columna (columna central) */
    grid-row: 4; /* Ocupa la cuarta fila */
    padding: 10px; /* Espacio interior del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde predeterminado */
    border-radius: 5px; /* Bordes redondeados del botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cursor tipo puntero al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.btn_enviar:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón sobre el botón */
}

/*decidi crear un contenedor nuevo por el tema de que esto tendra mas datos y el anterior ocupaba un numero de
filas exactas alteral el anterior desconfiguraria todo el anterior se espera mejorar esto en el proximo bosquejo*/
.contenedor_rec2 { 
    display: grid; /* Configura el contenedor como grid */
    grid-template-columns: 10% 80% 10%; /* Columna central más ancha */
    grid-template-rows: repeat(6, auto); /* Filas automáticas */
    grid-row-gap: 10px;
    border: 2px solid #ccc; /* Borde del contenedor */
    border-radius: 25px; /* Bordes redondeados */
    width: 100%;
    max-width: 300px; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio interior del contenedor */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
    text-align: center; /* Centra el texto dentro del contenedor */
}

.titulo_rec1 {
    margin: 2px;
    grid-column: 2; /* Columna central */
    grid-row: 1; /* Primera fila */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    font-size: 24px; /* Tamaño de la fuente */
}

.texto_rec1{
    margin: 2px;
    grid-column: 2; /* Ocupa la segunda columna (columna central) */
    grid-row: 2; /* Ocupa la segunda fila */
}


.titulo_rec2 {
    margin: 2px;
    grid-column: 2; /* Columna central */
    grid-row: 3; /* Primera fila */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    font-size: 24px; /* Tamaño de la fuente */
}

.texto_rec2{
    margin: 2px;
    grid-column: 2; /* Ocupa la segunda columna (columna central) */
    grid-row: 4; /* Ocupa la segunda fila */
}

.btn_enviar2 {
    grid-column: 2; /* Ocupa la segunda columna (columna central) */
    grid-row: 5; /* Ocupa la cuarta fila */
    padding: 10px; /* Espacio interior del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde predeterminado */
    border-radius: 5px; /* Bordes redondeados del botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cursor tipo puntero al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.btn_enviar2:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón sobre el botón */
}