<!-- templates/core/eliminar_producto.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Producto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <h1>Eliminar {{ producto.nombre }}</h1>
    <p>¿Estás seguro de que deseas eliminar este producto?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
        <a href="{% url 'gestion_stock' %}">Cancelar</a>
    </form>
</body>
</html>