<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <script src="{% static 'core/Script.js' %}"></script>
    <script src="{% static 'core/Script2.js' %}"></script>
</head>

<body>
    <form name="loginForm" action="{% url 'index' %}" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div>
            <div class="contenedor">
                <div class="titulo">
                    <h3>Bienvenido a </h3>
                </div>
                <div class="input_login">
                    <input type="text" placeholder="Usuario" id="username" name="username" required>
                </div>
                <div class="input_login">
                    <input type="password" placeholder="Contraseña" id="password" name="password" required>
                </div>
                <button class="btn_iniciar" type="submit" id="Iniciar">Iniciar</button>
                <br>
                <a class="link_recuperacion" href="{% url 'recuperacion' %}">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </form>
</body>

</html>
