<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Proveedores</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <h1>Lista de Proveedores</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.nombre_completo }}</td>
                <td>{{ proveedor.empresa }}</td>
                <td>{{ proveedor.email }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>
                    <a href="{% url 'editar_proveedor' proveedor.id %}">Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay proveedores registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'menu_empleado' %}">Volver al Menú</a>
</body>
</html>
