<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Solicitados</title>
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'core/Style.css' %}">
</head>
<body>
    <h1>Productos Solicitados</h1>
    
    <div class="product-grid">
        {% for producto in productos_solicitados %}
        <div class="product-card">
            <h2>Código Solicitud: {{ producto.codigo_solicitud }}</h2>
            <p>Proveedor: {{ producto.proveedor.nombre_completo }}</p>
            <p>Estado: {{ producto.estado.descripcion }}</p>
            <p>Fecha de Solicitud: {{ producto.fecha_solicitud }}</p>
        </div>
        {% empty %}
        <p>No hay productos solicitados.</p>
        {% endfor %}
    </div>

    <a href="{% url 'menu_empleado' %}" class="back-button">Volver al Menú</a>
</body>
</html>