<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>
    <div class="contenedor_rec">
        <h3 class="titulo_rec">¿Olvidaste tu contraseña?</h3>
        <p class="texto_rec">No te preocupes, ¡te ayudamos a recuperarla! Por favor, ingresa tu dirección de correo
            electrónico a continuación, y te enviaremos un enlace para restablecer tu contraseña.</p>
        <input type="text" placeholder="Correo electrónico" class="input_rec">
        <button class="btn_enviar" id="redirigir">Enviar</button>
    </div>

    <script>
        document.getElementById('redirigir').addEventListener('click', function() {
            window.location.href = "{% url 'recibido' %}";
        });
    </script>
</body>

</html>
